*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 100px);
    
}

.mainDiv {
    margin-left: 25%;
}

textarea {
    grid-column: 1/-1;
    border: 1px solid black;
    height: 50px;
}

button {
    grid-column: 1/-1;
}

.badgeContainer {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, 100px);
    border: 1px solid black;
    margin: 20px;
}
.badgeContainer > h1 {
    grid-column: 1/-1;
}

.badgeContainer > .firstAndLastName {
    grid-column: 1/2;
    grid-row: 2/3;
}

.badgeContainer > .placeOfBirth {
    grid-column: 2/3;
    grid-row: 2/3;
}

.badgeContainer > .email {
    grid-column: 1/2;
    grid-row: 3/4;
}

.badgeContainer > .phone {
    grid-column: 2/3;
    grid-row: 3/4;
}

.badgeContainer > .faveFood {
    grid-column: 1/2;
    grid-row: 4/5;
}

.badgeContainer > .aboutMe {
    grid-column: 1/-1;
    grid-row: 5/6;
    border: 1px solid black;
    align-self: center;
    height: 100px;
}




/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} */
/* input {
    border: 1px, solid, black;
} */