*{
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.formTop {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 100px);
    
}

/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} */
/* .formTop > input {
    border: 1px, solid, black;
} */