*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}
.view{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

#pageTitle{
    display: flex;
    justify-content: center;
}

.list{
    list-style-type: square;
    margin-bottom: 50px;
}

#goombaForm, #bobOmbForm, #cheepCheepForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#goombasCaught, #bobOmbsCaught, #cheepCheepsCaught{
    width: 50px;
    border: 2px solid rgb(30, 132, 201);
    border-radius: 4px;
}

#goomba{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: -20px;
    margin-left: 10px;
}

#bobOmb{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: -20px;
    margin-left: 10px;
}

#cheepCheep{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: -20px;
    margin-left: 10px;
}

.spacingBaddies {
    margin-top: 40px;
}

#baddiesTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.totals{
    margin-top: 15px;
    margin-bottom: 20px;
}
#totalGoombasButton, #totalBobOmbsButton, #totalCheepCheepsButton{
    padding: 10px;
}

#grandTotalDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grandTotalButton{
    padding: 10px 30px;
}

#grandTotalBox{
    background-color:pink;
    padding: 30px;
}

/* #totalsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.line1{
    
    width: 75%;
}

#footerList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
}

#footer{
    background-color: rgb(236, 233, 213);
}

.line2{
    width: 75%;
}