*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-columns:repeat(autofit, minmax(240px, 1fr));
    align-items: center;
    grid-template-rows: repeat(12, auto);
    
}
/* mobile first? */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    background: url('http://www.csszengarden.com/214/huntington.jpg');
    background-attachment: fixed;
    background-color: #2d6360;
    background-size: 150% 250px;
    background-repeat: no-repeat;
    background-position: 0 10px, 0 0, -5px -25px, 0 50%;
    max-width: 100%;
}

header > div {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    min-height: 100px;
    margin-top: 10px;
}

h1::before{
    display: block;
    background-image: url('http://www.csszengarden.com/214/enso.svg');
    margin: 50px auto 0px auto;
    height: 70px;
    width: 20%;
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
    z-index: -2;
}

.veiwAll{
    text-align: center;
    vertical-align: middle;
    line-height: 0px; 
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
    opacity: 0.6;
    padding: 20px 0 0 0;
    text-transform: uppercase;
}
.veiwAll::after{
    display: inline-block;
    content:">";
    font-family: 'verdemoderna';
    font-size: 44px;
    height: 70px;
    width: 70px;
    margin-left: 70px;
    z-index: -1;
}

h1{
    padding-top: 0%;
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: 100;
    font-size: 2em;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

h2{
    font-family: 'Libre Baskerville', sans-serif; 
    font-weight:normal;
    color: rgba(255,255,255,0.6);
    font-size: 1.2em;
    position: relative;
    font-style: italic;
    margin-top: 0px;
    
}
.two p{
    font-family: 'Libre Baskerville', sans-serif;
    color:#325050;
    font-size: 70%;
    background-color: #ffffff;
    padding-top: 2em;
    width: 80%;
    margin: 0 auto;
    line-height: 1.8em;
}

.three h3{
    margin: 2em 0 0 1.2em;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #ffffff;
    
    
}

.authors{
    background-color: peachpuff; 
}

.four{
    background-color: plum;
}

.links{
    background-color: yellowgreen;
}

.five{
    background-color: salmon;
}

.six{
    background-color: sandybrown;
}

.seven{
    background-color: steelblue;
}

.footer{
    background-color: tomato;
}

.icons{
    background-color: yellow;
}