*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-columns:repeat(autofit, minmax(240px, 1fr));
    align-items: center;
    grid-template-rows: repeat(12, auto);
    
}
/* mobile first? */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    background: url('http://www.csszengarden.com/214/huntington.jpg');
    background-attachment: fixed;
    background-color: #2d6360;
    background-size: 100% 230px;
    background-repeat: no-repeat;
    max-width: 100%;
    
    
    /* object-fit: cover;
    max-height: 100%;
    min-width: 100%;
    vertical-align: bottom; */
}

h1::before{
    display: block;
    background-image: url('http://www.csszengarden.com/214/enso.svg');
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 20%;
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
}

h1{
    font-family: 'Julius Sans One', sans-serif; 
    position: relative
}

h2{
    font-family: 'Julius Sans One', sans-serif; 
    position: relative;
}
.two{
    background-color: pink;  
}

.three{
    background-color: paleturquoise;  
}

.authors{
    background-color: peachpuff; 
}

.four{
    background-color: plum;
}

.links{
    background-color: yellowgreen;
}

.five{
    background-color: salmon;
}

.six{
    background-color: sandybrown;
}

.seven{
    background-color: steelblue;
}

.footer{
    background-color: tomato;
}

.icons{
    background-color: yellow;
}