*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-columns:repeat(autofit, minmax(240px, 1fr));
    align-items: center;
    grid-template-rows: repeat(12, auto);
    
}
/* mobile first? */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    background: url('http://www.csszengarden.com/214/huntington.jpg');
    background-attachment: fixed;
    background-color: #2d6360;
}

h1::before{
    position: relative;
    top: 20px;
    content: "";
    width: 80px;
    height: 80px;
    margin: -20px 20px 0 0;
    background: url(enso.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
    font-family: 'Julius Sans One', sans-serif;
}

.two{
    background-color: pink;  
}

.three{
    background-color: paleturquoise;  
}

.authors{
    background-color: peachpuff; 
}

.four{
    background-color: plum;
}

.links{
    background-color: yellowgreen;
}

.five{
    background-color: salmon;
}

.six{
    background-color: sandybrown;
}

.seven{
    background-color: steelblue;
}

.footer{
    background-color: tomato;
}

.icons{
    background-color: yellow;
}