.issue-card {
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    height: fit-content;
    overflow: hidden;
    position: relative;
    width: 550px;
    margin: 15px;
}
.issue-card:before {
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    
}

.card-content {
    position: relative;
    margin: 18px;
}

#line {
    margin: 5px 5px;
}
