.issue-card {
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 550px;
    margin: 15px;
}
.issue-card:before {
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    
}

.card-content {
    position: relative;
    margin: 20px;
    display: grid;
    grid-template-columns: fit-content(5, 1fr);
    grid-template-rows: fit-content(4, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

p {
    margin: 10px;
}

#title { 
    grid-area: 1 / 2 / 1 / 6; 
    padding: 10px;
}

#description { 
    grid-area: 2 / 2 / 4 / 6; 
    padding: 10px;
}


.buttons {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 10px;
    width: 100px;
    margin: 20px */
}

#edit-delete {
    grid-area: 4/ 2/ 5/ 6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35px;
}

.edit-delete {
    padding: 10px;
    /* justify-content: center; */
}

#comments {
    position: absloute;
    bottom: 0;
}





