/* * {
    box-sizing: border-box;
    margin: 0;
} */


#login-form {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 8px;
        margin-left: 10%;
        margin-top: 85px;
}

.memeber {
    margin-left: 10%;
}

.input {
    opacity: 50%;
    border: none;
    border-radius: 2px;
    height: 25px;
}



