* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 10px;
    background: url("https://images.unsplash.com/photo-1606525391723-0ad8ac725451?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#rock-the-vote {
    position: fixed;
    background: white;
    /* position: fixed; */
    z-index: 100;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 10px;
}

#main-section {
    padding-top: 50px;
}
