.nav-links {
    text-decoration: none;
    color: black;
}
.nav-links:hover {
    color: blue
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 3.5rem;
    z-index: 100;
    bottom: 0;
    background-color: salmon;
    padding: 10px;
    text-align: left;
    border-radius: 15px;
}

.footer {
    margin-left: 90%;
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: salmon;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

#username {
    font-style: oblique;
    font-size: 65px;
}




