* {
    margin: 0;
    box-sizing: border-box;
    font-size: 0em;
}


.flag {
    display: block;
    margin: 10px;
}
h1 {
    display: inline-block;
    margin: 0;
}


.france {
    padding: 20px;
}

.blue {
    position: relative;
    width: 100px;
    background-color: darkblue;
    height: 200px;
    
}

.white {
    position: relative;
    width: 100px;
    background-color: whitesmoke;
    height: 200px;
}

.red {
    position: relative;
    right: 0;
    width: 100px;
    background-color:red;
    height: 200px;
}


.germany {
    padding: 20px;
}

.black-germany {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: black;
}

.red-germany {
    position: relative;
    top:50px;
    right: 300px;
    width: 300px;
    height: 50px;
    background-color:red;
}

.yellow-germany {
    position: relative;
    top: 100px;
    right: 600px;
    width: 300px;
    height: 50px;
    background-color:yellow;

}


.madagascar {
    padding: 20px;

}

.white-madagascar {
    position: relative;
    top: 100px;
    width: 100px;
    height: 50px;
    background-color: whitesmoke;

}

.red-madagascar {
    position: relative;
    bottom: 100px;
    width: 200px;
    height: 100px;
    background-color: tomato;
}

.green-madagascar {
    position: relative;
    bottom: 100px;
    left: 100px;
    width: 200px;
    height: 100px;
    background-color: green;
}


.switzerland {
    padding: 20px;
}

.red-switzerland {
    position: relative;
    height: 200px;
    width: 300px;
    background-color: red;
}

.white1-switzerland {
    position: relative;
    left: -178px;
    bottom: 32px;
    height: 130px;
    width: 40px;
    background-color: white;
}

.white2-switzerland {
    position: relative;
    left: -260px;
    bottom: 80px;
    height: 40px;
    width: 130px;
    background-color: white;
}


.sweeden {
    padding: 20px;
}

.blue-sweeden {
    position: relative;
    height: 200px;
    width: 300px;
    background-color: blue;
}

.yellow1-sweeden {
    position: relative;
    left: -200px;
    height: 200px;
    width: 40px;
    background-color: yellow;
}

.yellow2-sweeden {
    position: relative;
    bottom: 100px;
    right: 340px;
    height: 40px;
    width: 300px;
    background-color: yellow;
}


.gambia {
    padding: 20px;
}

.white-gambia {
    position: relative;
    height: 200px;
    width: 300px;
    background-color:whitesmoke;
}

.red-gambia {
    position: relative;
    height: 75px;
    width: 300px;
    background-color: red;
    right: 300px;
    bottom: 150px;

}

.blue-gambia {
    position: relative;
    height: 55px;
    width: 300px;
    background-color: blue;
    right: 600px;
    bottom: 85px;
    
}

.green-gambia {
    position: relative;
    height: 75px;
    width: 300px;
    background-color: green;
    bottom: 75px;
}


.tonga {
    padding: 20px;
}

.red1-tonga {
    position: relative;
    height: 200px;
    width: 300px;
    background-color: red;
}

.white-tonga {
    position: relative;
    height: 100px;
    width: 150px;
    background-color: white;
    bottom: 100px;
    right: 300px;
}

.red2-tonga {
    position: relative;
    height: 60px;
    width: 20px;
    background-color:red;
    right: 380px;
    bottom: 120px;
}

.red3-tonga {
    position: relative;
    height: 20px;
    width: 60px;
    background-color:red;
    right: 420px;
    bottom: 140px;
}


.japan {
    padding: 20px;
}

.flag.japan {
    height: 200px;
    width: 300px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.red-japan {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 100px;
}


.greece {
    padding: 20px;
}

.white-greece {
    position: absolute;
    height: 279px;
    width: 378px;
    background-color: whitesmoke;
    z-index: -1;
}

.blue1-greece {
    position: relative;
    height: 62px;
    width: 62px;
    background-color: blue;
     
}

.blue2-greece {
    position: relative;
    height: 62px;
    width: 62px;
    background-color: blue;
    left: 31px;
    

}

.blue3-greece {
    position: relative;
    height: 62px;
    width: 62px;
    background-color: blue;
    right: 124px;    
    top: 93px;
}

.blue4-greece {
    position: relative;
    height: 62px;
    width: 62px;
    background-color: blue;
    top: 93px;
    right: 93px;
}

.blue5-greece {
    position: relative;
    height: 31px;   
    width: 222px;
    background-color: blue  ;
    right: 93px;
    bottom: 31px;
}

.blue6-greece {
    position: relative;
    height: 31px;   
    width: 223px;
    background-color: blue;
    right: 315px;
    top: 31px;
    
}

.blue7-greece {
    position: relative;
    height: 31px;   
    width: 223px;
    background-color: blue;
    top: 93px;
    right: 538px;
  }


.blue8-greece {
    position: relative;
    height: 31px;   
    width: 379px;
    background-color: blue;
    top: 125px;
    
}

.blue9-greece {
    position: relative;
    height: 31px;   
    width: 379px;
    background-color: blue;
    top: 186px;
    right: 379px;
}



.niger {
    margin: 200px;
    height: 280px;
    width: 300px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.orange-niger {
    position: relative;
    height: 60px;
    width: 320px;
    background-color: orange;
    bottom: 60px;
}