*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 25px;
}

/* #button {
    ;
    height: 50px;
    width: 100px
} */
.container > button {
    margin-left: 46%;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5%;
}


.boxContainer {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    padding: 20px;
}

.box {
    border: 3px solid black;
    border-radius: 5%;
    margin: 10px;
}



