*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    text-align: center;
}

.bounty-container {
    margin: 0 32px;
}

.bounty-components {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    width: 100%;
}

.bounty {
    border: 1px solid #333;
    padding: 10px;
    margin: 15px; 
    width: auto;
}

/* .edit-form-container {
    border: 1px solid #333;
    padding: 10px;
    margin: 15px; 
    width: auto;
}

.edit-form {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(4, 1fr);
    margin: 50px;
} */
